@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #5956E9;
  --secondary: #232233;
  --text-muted: #6C6C72;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Noto Sans SC', 'Josefin Sans', 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html{
  height: 100%;
}
body {
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: 'Noto Sans SC', 'Josefin Sans', 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', sans-serif;
  > div#__next{
    height: 100%;
  }
}
.scroll-smooth {
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.uppercase {
  text-transform: uppercase;
}

.bg-primary {
  background-color: var(--primary);
}
.border-primary {
  border-color: var(--primary);
}
.text-primary {
  color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.border-secondary {
  border-color: var(--secondary);
}
.text-secondary {
  color: var(--secondary);
}
.text-muted {
  color: var(--text-muted);
}
